.container {
  width: 377px;
  height: auto;
  margin: auto;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.16);
  padding: 24px 16px;
  gap: 40px;
}
.container2 {
  display: flex;
  gap: 6px;
}
.addbtn {
  height: 40px;
  padding: 8px 16px;
  align-items: center;
  border-radius: 6px;
  background: #3c82f6;
  border: none;
  color: #f9f9f9;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.button {
  display: flex;
  height: 32px;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: #f3f4f6;
  border: none;
  color: #363636;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.input {
  display: flex;
  width: 280px;
  padding-left: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 6px;
  border: 1px solid var(--border-border-border, #e4e4e7);
}
.container3 {
  display: flex;
  align-items: center;
  gap: 6px;
  align-self: stretch;
}
.container4 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.title {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.5px;
}
.button.active {
  display: flex;
  height: 32px;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: #3c82f6;
  color: #fff;
  border: none;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.linethrough {
  text-decoration: line-through;
}
.taskcont {
  display: flex;
  width: 345px;
  height: 62px;
  margin: 16px 0px;
  align-items: center;
  text-align: center;
  gap: 10px;
  border-radius: var(--radius-rounded-md, 6px);
  background: #f9fafb;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: space-between;
  padding: 16px;
  cursor: pointer;
}
.text {
  display: flex;
  gap: 10px;
}
.delete {
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 6px;
  background: #fef2f2;
  border: none;
  color: #ef4444;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.notask {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #6b7280;
}
.resultcont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px 0 4px 0;
  border-top: 1px solid var(--border-border-border, #e4e4e7);
}
.clearcomp {
  color: #ef4444;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: none;
  border: none;
  cursor: pointer;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
#pinecone {
  color: #3b73ed;
}
.checkbox {
  fill: #0275ff;
  stroke-width: 1px;
  stroke: #fff;
  filter: drop-shadow(0 0 0 #015fcc);
  width: 20px;
  height: 20px;
}
